// フォントサイズ/ ()内pxはスマホ時を基準としています。

// ベース（16px）
$site-base:1rem;
// H1（18px）
$site-h1:1.125rem;
// 大見出し（20px）
$site-h2:1.25rem;
// 子見出し（18px）
$site-h3:1.125rem;
// ラジオ・チェックボックスラベル（18px）
$site-label:1.125rem;
// フォームラベル（18px）
$site-formlabel:1rem;
// フォームテキスト（18px）
$site-formtext:1.125rem;
// テキスト小（14px）
$site-small:.875rem;
// テキスト極小（12px）
$site-min:.75rem;
// テキスト大（20px）
$site-big:1.25rem;
// テキスト極大（24px）
$site-biggest:1.5rem;
// ボタン（20px）
$site-btn:1.25rem;
// ボタン小（18px）
$site-btn-small:1.125rem;
// 確認画面大見出しスマホ（16px）
$site-confirm-h2-sp:1rem;
// 確認画面項目名（18px）
$site-th:1.125rem;
// 確認画面項目名スマホ（16px）
$site-th-sp:1rem;
// 確認画面入力情報（20px）
$site-td:1.25rem;



